@model StationDetailsViewModel

@{
    ViewData["Title"] = "Stations";
    var currentDate = string.IsNullOrEmpty(Context.Request.Query["date"]) ?
        DateTime.Today.ToLongDateString() :
        Convert.ToDateTime(Context.Request.Query["date"]).ToLongDateString();
}
<h1>
    <i class="fas fa-charging-station text-info"></i>
    @ViewData["Title"]
</h1>

@if (Model != null)
{
    <div class="row">
        <div class="col-md-9">
            <h3>@Model.Station.Name</h3>
            <div class="row">
                <div class="col-md-5">
                    <strong>Zone:</strong>
                </div>
                <div class="col-md-7">
                    <i class="fas fa-search-location"></i>
                    @Model.Station.Zone?.Name
                </div>
                <div class="col-md-5">
                    <strong class="text-info">Weather:</strong>
                </div>
                <div class="col-md-7">
                    <i class="fas fa-cloud-showers-heavy text-primary"></i>
                    @*TODO: Calculate weather for day*@
                    Rainy
                </div>
                <div class="col-md-5">
                    <strong class="text-info">Capacity:</strong>
                </div>
                <div class="col-md-7">
                    <i class="fas fa-bicycle"></i>
                    @Model.Station.Capacity
                </div>
                <div class="col-md-5">
                    <strong class="text-secondary">Current Availability:</strong>
                </div>
                <div class="col-md-7">
                    <i class="fas fa-thumbs-up text-success"></i>
                    55%
                </div>
                <div class="col-md-5">
                    <strong class="text-secondary">Availability in Next Hour:</strong>
                </div>
                <div class="col-md-7">
                    <i class="fas fa-thumbs-up text-danger"></i>
                    15%
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img src="@Model.Station.Picture" class="img-fluid" />
        </div>
    </div>
    <div class="chart" id="bargraph"></div>
    <button class="btn btn-warning" onclick="window.history.back()">
        <i class="fas fa-arrow-left"></i>
        Go Back
    </button>
}
else
{
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.Label("Select a Station")
            @Html.DropDownList("StationList", ViewData["StationList"] as SelectList, "Select a Station...", new { @class = "form-control" })
        </div>
    }
}

@section Scripts {
    @if (Model != null)
    {
        <script>
            var graphs = @Html.Raw(Model.DailyCapacityJson);
            var layout = {
                title: 'Bicycle Availability for @currentDate',
                xaxis: {
                    title: 'Time'
                },
                yaxis: {
                    title: 'Bicycle Count'
                }
            };
            Plotly.plot('bargraph', graphs, layout);
        </script>
    }
    <script>$("#StationList").change(function () {
            window.location.href = "/Home/Stations/" + this.value;
        });</script>
}
